/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */

.form-pole{
	margin-bottom: 20px;
}

.form-pole label{
	display: block;
	font-size: 15px;
	font-weight: 400;
	
}