/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */

form{
	width: 100%;
	max-width: 300px;
}

.form-pole{
	margin-bottom: 20px;
}

.form-pole > label{
	display: block;
	font-size: 15px;
	font-weight: 600;
	color: gray;
	margin-top: 10px;
}

.form-pole input[type="text"],
.form-pole input[type="number"], 
.form-pole input[type="email"], 
.form-pole textarea,
.form-pole select{
	width: 100%;
	border: 2px solid green;
	border-radius: 5px;
	font-size: 16px;
	padding: 5px 10px;
}

.form-pole input[type="text"]:focus,
.form-pole input[type="number"]:focus,
.form-pole input[type="email"]:focus, 
.form-pole textarea:focus,
.form-pole select:focus{
	outline: 2px solid yellowgreen;
	border-radius: 5px;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus{
	outline-color: pink;
}

/* .form-pole input[type="text"]:valid,
.form-pole input[type="number"]:valid, 
.form-pole textarea:valid,
.form-pole select:valid{
	background-color: aqua;
	border-color: blue;
}

.form-pole input[type="text"]:invalid,
.form-pole input[type="number"]:invalid, 
.form-pole textarea:invalid,
.form-pole select:invalid{
	background-color: pink;
	border-color: palevioletred;
}

.form-pole input[type="text"]:placeholder-shown{
	outline: 5px solid orchid;
} */

.form-pole input[type="text"]:not(:placeholder-shown):valid,
.form-pole input[type="number"]:not(:placeholder-shown):valid,
.form-pole input[type="email"]:not(:placeholder-shown):valid,
.form-pole textarea:not(:placeholder-shown):valid{
	background-color: aqua;
	border-color: blue;
}

.form-pole input[type="text"]:not(:placeholder-shown):invalid,
.form-pole input[type="number"]:not(:placeholder-shown):invalid,
.form-pole input[type="email"]:not(:placeholder-shown):invalid,
.form-pole textarea:not(:placeholder-shown):invalid{
	background-color: pink;
	border-color: palevioletred;
}


.required{
	color: red;
	font-size: 20px;
	font-weight: 800;
}

.form-checkbox{
	margin-bottom: 10px;
}

.form-horizontal{
	margin-bottom: 20px;
	display: flex;
}

.form-horizontal label{
	flex: 0 0 100px;
	font-size: 15px;
	color: gray;
	margin-right: 10px;
	text-align: right;
}

.form-horizontal input{
	flex: 1 1 100%;
}

.tlacitko{
 	padding: 8px;
	margin: 10px 0;
	background-color: green;
	font-size: 20px;
	border-radius: 5px;
	color: white;
}

.tlacitko:hover{
	background-color: greenyellow;
	color: black;
}

/* .form-horizontal label{
	display: inline-block;
	font-size: 15px;
	color: gray;
	width: 100px;
}

.form-horizontal input{
	width: 195px;
} */

